body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F15A48;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F15A48;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f15a48;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #F15A48 !important;
}

.bg-dark {
  background-color: #1E201E !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #1E201E;
  letter-spacing: 3px;
  text-align: center;
  font-size: 31px;
  line-height: 34px;
}

.section-sub-heading {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #F15A48;
  letter-spacing: 0.5px;
  font-size: 20px;
  text-align: center;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.carousel-indicators--round li {
  border-radius: 10px;
  margin: 0 0.5rem;
  height: 10px;
  max-width: 10px;
  border: 1px;
  background-color: #fff;
  opacity: 0.5;
  cursor: pointer;
}

.carousel-indicators--round li:hover {
  background-color: #F15A48;
}

.carousel-indicators .active {
  background-color: #F15A48;
}

@media (min-width: 768px) {
  .carousel-inner-multiple .carousel-item.active, .carousel-inner-multiple .carousel-item-next, .carousel-inner-multiple .carousel-item-prev {
    display: flex;
  }
  .carousel-inner-multiple .carousel-item-right.active, .carousel-inner-multiple .carousel-item-next {
    transform: translateX(33.33%);
  }
  .carousel-inner-multiple .carousel-item-left.active, .carousel-inner-multiple .carousel-item-prev {
    transform: translateX(-33.33%);
  }
  .carousel-inner-multiple .carousel-item-right, .carousel-inner-multiple .carousel-item-left {
    transform: translateX(0);
  }
}

.carousel-control-prev-icon {
  background-image: url("../vendor/svg/arrow-left-circle.svg");
}

.carousel-control-prev-icon:hover {
  background-image: url("../vendor/svg/arrow-left-circle-hover.svg");
}

.carousel-control-next-icon {
  background-image: url("../vendor/svg/arrow-right-circle.svg");
}

.carousel-control-next-icon:hover {
  background-image: url("../vendor/svg/arrow-right-circle-hover.svg");
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #1E201E;
  max-width: 100vw;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand .navbar-logo-horizontal {
  max-height: 2.5rem;
}

#mainNav .navbar-brand .navbar-logo-vertical {
  display: none;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F15A48;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F15A48 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #mainNav .navbar-brand .navbar-logo-horizontal {
    display: none;
  }
  #mainNav .navbar-brand .navbar-logo-vertical {
    display: inline-block;
    max-height: 6rem;
  }
  #mainNav .navbar-nav {
    margin: auto;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 4rem 4rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F15A48;
  }
  #mainNav .nav-item-mobile {
    display: none;
  }
  #mainNav .nav-item-left {
    margin-right: 120px;
  }
  #mainNav .nav-item-right {
    margin-left: 120px;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #1E201E;
  }
  #mainNav.navbar-shrink .navbar-brand {
    position: relative;
    left: auto;
    transform: none;
  }
  #mainNav.navbar-shrink .navbar-brand .navbar-logo-horizontal {
    display: inline-block;
  }
  #mainNav.navbar-shrink .navbar-brand .navbar-logo-vertical {
    display: none;
  }
  #mainNav.navbar-shrink .navbar-nav {
    margin: 0;
    margin-left: auto;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    padding: 1rem;
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F15A48;
  }
  #mainNav.navbar-shrink .nav-item-mobile {
    display: inline-block;
    padding: 0.5rem 0 0 0.5rem;
  }
  #mainNav.navbar-shrink .nav-item-mobile .nav-link {
    padding: 0.3rem 1rem !important;
    background-color: transparent !important;
    border: 3px solid #F15A48 !important;
    color: #F15A48 !important;
  }
  #mainNav.navbar-shrink .nav-item-mobile .nav-link:hover {
    color: #fff !important;
    background: #F15A48 !important;
  }
  #mainNav.navbar-shrink .nav-item-left {
    margin-right: auto;
  }
  #mainNav.navbar-shrink .nav-item-right {
    margin-left: auto;
  }
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

header.masthead h1 strong {
  color: #F15A48;
}

header.masthead p {
  font-weight: 300;
}

header.masthead .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .carousel-caption {
  bottom: 30%;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.25rem;
    letter-spacing: 0.5px;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3rem;
    letter-spacing: 1px;
  }
}

#scroll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 3.2rem;
  right: 3rem;
  z-index: 999;
  border: none;
  outline: none;
  background-image: url("../vendor/svg/chevron-up-circle.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

#scroll-to-top-btn:hover {
  background-image: url("../vendor/svg/chevron-up-circle-hover.svg");
}

#scroll-to-top-btn.active {
  display: block;
}

section.about .about-text .about-content {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #1E201E;
  letter-spacing: 0.3px;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: 576px) {
  section.about .about-text .about-content {
    margin-top: 2rem;
  }
}

section.about .about-image .about-image--left-top {
  margin-bottom: 6px;
}

section.about .about-image .about-image--left-bottom {
  margin-top: 6px;
}

@media (min-width: 375px) {
  section.about .about-image .about-image--left-top {
    margin-bottom: 9px;
  }
  section.about .about-image .about-image--left-bottom {
    margin-top: 9px;
  }
}

@media (min-width: 768px) {
  section.about .about-image .about-image--left-top {
    margin-bottom: 13px;
  }
  section.about .about-image .about-image--left-bottom {
    margin-top: 13px;
  }
}

@media (min-width: 992px) {
  section.about .about-text .about-heading {
    text-align: left;
    padding-right: 8rem;
  }
  section.about .about-text .about-sub-heading {
    text-align: left;
  }
  section.about .about-image {
    margin: 1rem 0;
  }
  section.about .about-image .about-image--left-top {
    margin-bottom: 9px;
  }
  section.about .about-image .about-image--left-bottom {
    margin-top: 8px;
  }
}

@media (min-width: 1200px) {
  section.about .about-text {
    margin-top: 2rem;
  }
  section.about .about-text .about-heading {
    padding-right: 16rem;
  }
  section.about .about-text .about-content {
    padding-right: 5rem;
  }
  section.about .about-image {
    margin: 1rem 0;
  }
  section.about .about-image .about-image--left-top {
    margin-bottom: 11px;
  }
  section.about .about-image .about-image--left-bottom {
    margin-top: 10px;
  }
}

@media (min-width: 1500px) {
  section.about .about-text {
    margin-top: 3rem;
  }
  section.about .about-text .about-heading {
    padding-right: 26rem;
  }
  section.about .about-text .about-content {
    padding-right: 10rem;
  }
  section.about .about-image {
    margin: 1rem 0;
  }
  section.about .about-image .about-image--left-top {
    margin-bottom: 12px;
  }
  section.about .about-image .about-image--left-bottom {
    margin-top: 12px;
  }
}

section.new-released .new-released-heading {
  color: #fff;
  margin-bottom: 2rem;
}

section.new-released .carousel {
  margin-top: 3rem;
}

section.new-released .carousel .carousel-item {
  padding: 0 1rem;
}

section.new-released .carousel .carousel-item .carousel-item-block {
  margin-bottom: 7rem;
}

section.new-released .carousel .carousel-caption-text {
  position: absolute;
  bottom: -7rem;
  left: 1rem;
  right: 1rem;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
}

section.new-released .carousel .carousel-caption-text:hover {
  color: #F15A48;
}

section.new-released .carousel .carousel-indicators {
  bottom: -4rem;
}

section.new-released .carousel .carousel-control-prev {
  left: -2rem;
  top: 25%;
  bottom: 55%;
}

section.new-released .carousel .carousel-control-prev .carousel-control-prev-icon {
  height: 2rem;
  width: 2rem;
}

section.new-released .carousel .carousel-control-next {
  right: -2rem;
  top: 25%;
  bottom: 55%;
}

section.new-released .carousel .carousel-control-next .carousel-control-next-icon {
  height: 2rem;
  width: 2rem;
}

@media (min-width: 576px) {
  section.new-released .carousel .carousel-item {
    padding: 0 2rem;
  }
  section.new-released .carousel .carousel-control-prev {
    left: -3rem;
    top: 30%;
    bottom: 50%;
  }
  section.new-released .carousel .carousel-control-prev .carousel-control-prev-icon {
    height: 3rem;
    width: 3rem;
  }
  section.new-released .carousel .carousel-control-next {
    right: -3rem;
    top: 30%;
    bottom: 50%;
  }
  section.new-released .carousel .carousel-control-next .carousel-control-next-icon {
    height: 3rem;
    width: 3rem;
  }
}

@media (min-width: 768px) {
  section.new-released .carousel .carousel-item {
    padding: 0;
  }
  section.new-released .carousel .carousel-item .carousel-item-block {
    padding: 0 1rem;
  }
  section.new-released .carousel .carousel-control-prev {
    left: -5rem;
    top: 25%;
    bottom: 55%;
  }
  section.new-released .carousel .carousel-control-next {
    right: -5rem;
    top: 25%;
    bottom: 55%;
  }
}

@media (min-width: 992px) {
  section.new-released .carousel .carousel-item .carousel-item-block {
    padding: 0 2rem;
  }
  section.new-released .carousel .carousel-control-prev {
    left: -5.6rem;
  }
  section.new-released .carousel .carousel-control-next {
    right: -5.6rem;
  }
}

@media (min-width: 1200px) {
  section.new-released .carousel .carousel-item .carousel-item-block {
    padding: 0 3rem;
  }
  section.new-released .carousel .carousel-control-prev {
    left: -7rem;
  }
  section.new-released .carousel .carousel-control-next {
    right: -7rem;
  }
}

@media (min-width: 1500px) {
  section.new-released .carousel .carousel-item .carousel-item-block {
    padding: 0 4rem;
  }
  section.new-released .carousel .carousel-control-prev {
    left: -8rem;
  }
  section.new-released .carousel .carousel-control-next {
    right: -8rem;
  }
}

#special .carousel-indicators {
  bottom: -3rem;
}

#special .carousel-indicators--round li {
  background-color: #1E201E;
}

#special .carousel-indicators--round li:hover {
  background-color: #F15A48;
}

#special .carousel-indicators .active {
  background-color: #F15A48;
}

#menu {
  background-image: url("../img/menu-bg.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#menu .menu-tab-bar {
  padding: 2rem;
}

#menu .menu-tab-bar .menu-tab-btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
  color: #fff;
  cursor: pointer;
}

#menu .menu-tab-bar .menu-tab-btn:hover {
  color: #F15A48;
}

#menu .menu-tab-bar .menu-tab-btn.active {
  color: #F15A48;
}

@media (min-width: 768px) {
  #menu .menu-tab-bar {
    padding: 2rem 4rem 2rem 5rem;
  }
}

@media (min-width: 992px) {
  #menu .menu-tab-bar {
    padding: 3rem 5rem 3rem 6rem;
  }
}

#menu .carousel-indicators--round li {
  background-color: #1E201E;
}

#menu .carousel-indicators--round li:hover {
  background-color: #F15A48;
}

#menu .carousel-indicators .active {
  background-color: #F15A48;
}

#menu .carousel-control-prev {
  left: -1rem;
  top: 50%;
  bottom: 50%;
}

#menu .carousel-control-prev .carousel-control-prev-icon {
  height: 2rem;
  width: 2rem;
  background-image: url("../vendor/svg/arrow-left-circle-hover.svg");
}

#menu .carousel-control-prev .carousel-control-prev-icon:hover {
  background-image: url("../vendor/svg/arrow-left-circle-black.svg");
}

#menu .carousel-control-next {
  right: -1rem;
  top: 50%;
  bottom: 50%;
}

#menu .carousel-control-next .carousel-control-next-icon {
  height: 2rem;
  width: 2rem;
  background-image: url("../vendor/svg/arrow-right-circle-hover.svg");
}

#menu .carousel-control-next .carousel-control-next-icon:hover {
  background-image: url("../vendor/svg/arrow-right-circle-black.svg");
}

#menu .menu-selector-1, #menu .menu-selector-2, #menu .menu-selector-3, #menu .menu-selector-4 {
  display: none;
}

@media (min-width: 400px) {
  #menu .carousel-control-prev {
    left: -1.5rem;
  }
  #menu .carousel-control-next {
    right: -1.5rem;
  }
}

@media (min-width: 576px) {
  #menu .carousel-control-prev {
    left: -2rem;
  }
  #menu .carousel-control-next {
    right: -2rem;
  }
}

@media (min-width: 768px) {
  #menu .menu-selector-1, #menu .menu-selector-2, #menu .menu-selector-3, #menu .menu-selector-4 {
    display: block;
  }
  #menu .menu-selector-1 {
    margin: auto;
  }
  #menu .menu-selector-3 {
    margin-left: 2rem;
  }
  #menu .carousel-control-prev {
    left: -2.5rem;
  }
  #menu .carousel-control-prev .carousel-control-prev-icon {
    height: 3rem;
    width: 3rem;
  }
  #menu .carousel-control-next {
    right: -2.5rem;
  }
  #menu .carousel-control-next .carousel-control-next-icon {
    height: 3rem;
    width: 3rem;
  }
}

@media (min-width: 992px) {
  #menu .menu-selector-1 {
    margin-left: 4rem;
  }
  #menu .menu-selector-2 {
    margin-left: 1rem;
  }
  #menu .menu-selector-3 {
    margin-left: 3.8rem;
  }
  #menu .menu-selector-4 {
    margin-left: 1.5rem;
  }
  #menu .carousel-control-prev {
    left: -3.5rem;
  }
  #menu .carousel-control-next {
    right: -3.5rem;
  }
}

@media (min-width: 1200px) {
  #menu .menu-selector-1 {
    margin-left: 4.5rem;
  }
  #menu .menu-selector-2 {
    margin-left: 1.5rem;
  }
  #menu .menu-selector-3 {
    margin-left: 5rem;
  }
  #menu .menu-selector-4 {
    margin-left: 2.8rem;
  }
  #menu .carousel-control-prev {
    left: -4rem;
  }
  #menu .carousel-control-prev .carousel-control-prev-icon {
    height: 3rem;
    width: 3rem;
  }
  #menu .carousel-control-next {
    right: -4rem;
  }
  #menu .carousel-control-next .carousel-control-next-icon {
    height: 3rem;
    width: 3rem;
  }
}

@media (min-width: 1500px) {
  #menu .menu-selector-1 {
    margin-left: 5rem;
  }
  #menu .menu-selector-2 {
    margin-left: 2.3rem;
  }
  #menu .menu-selector-3 {
    margin-left: 7rem;
  }
  #menu .menu-selector-4 {
    margin-left: 4.8rem;
  }
  #menu .carousel-control-prev {
    left: -5rem;
  }
  #menu .carousel-control-next {
    right: -5rem;
  }
}

#contact {
  padding: 6rem 0;
}

#contact .contact {
  position: relative;
}

#contact .contact .contact-left {
  background-color: #1E201E;
  color: #fff;
}

#contact .contact .contact-left .contact-left-info {
  padding: 3rem 2rem 2rem 2rem;
}

#contact .contact .contact-left .contact-left-info .contact-left-info-block {
  padding: 1.6rem 0;
}

#contact .contact .contact-left .contact-left-info .contact-left-info-block .contact-left-info-block-heading {
  color: #F15A48;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 30px;
}

#contact .contact .contact-left .contact-left-info .contact-left-info-block .contact-left-info-block-text {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

#contact .contact .contact-left .contact-left-caption {
  margin: 0px 16px 12px 16px;
  padding: 2rem;
  border: 3px solid #fff;
}

#contact .contact .contact-left .contact-left-caption h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
}

#contact .contact #contact-map {
  height: auto;
  min-height: 400px;
}

#contact .contact .contact-right-window {
  position: absolute;
  background: rgba(255, 255, 255, 0.78);
  padding: 1rem;
  left: 50%;
  bottom: 1.2rem;
  margin-left: -175px;
}

#contact .contact .contact-right-window .contact-right-window-info {
  padding: 1rem;
}

#contact .contact .contact-right-window .contact-right-window-info .contact-right-window-info-item {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0.5rem;
  margin: 1rem 0;
}

#contact .contact .contact-right-window .contact-right-window-info .contact-right-window-info-item span {
  padding: 5px 5px 1px 5px;
}

#contact .contact .contact-right-window .contact-right-window-info .contact-right-window-info-item span:hover {
  color: #F15A48;
  cursor: pointer;
}

#contact .contact .contact-right-window .contact-right-window-info .contact-right-window-info-item img {
  margin-top: -8px;
  height: 30px;
  width: 30px;
}

#contact .contact .contact-right-window .contact-right-window-show-map {
  padding: 0 1rem;
  text-align: right;
  color: #F15A48;
}

#contact .contact .contact-right-window .contact-right-window-show-map span {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

#contact .contact .contact-right-window .contact-right-window-show-map:hover {
  color: #1E201E;
  cursor: pointer;
}

#contact .contact .contact-right-window .contact-right-window-show-map:hover path {
  fill: #1E201E;
}

@media (min-width: 768px) {
  #contact .contact .contact-right-window {
    margin-left: 0;
    left: 40%;
    bottom: 20%;
    padding: 2rem;
  }
}

@media (min-width: 992px) {
  #contact .contact .contact-right-window {
    left: 42%;
    bottom: 10%;
    padding: 4rem 5rem;
  }
  #contact .contact .contact-right-window .contact-right-window-show-map {
    padding: 0;
    margin-right: -1rem;
    margin-bottom: -1rem;
  }
}

@media (min-width: 1200px) {
  #contact .contact .contact-right-window {
    left: 46%;
    bottom: 9%;
  }
}

#contact .contact .contact-hide-map {
  position: absolute;
  top: 64%;
  left: 1rem;
  height: 40px;
  width: 40px;
  background-image: url("../vendor/svg/arrow-left-circle-hover.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
}

#contact .contact .contact-hide-map:hover {
  background-image: url("../vendor/svg/arrow-left-circle-black.svg");
}

@media (min-width: 768px) {
  #contact .contact .contact-hide-map {
    top: 3rem;
    left: 36%;
  }
}

.modal .modal-dialog .modal-content .modal-header {
  border: none;
  padding-bottom: 0;
}

.modal .modal-dialog .modal-content .modal-header .modal-title {
  display: none;
}

.modal .modal-dialog .modal-content .modal-header .close {
  margin: -5px -5px -5px auto;
  padding: 0.8rem;
  background-image: url("../vendor/svg/cross.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal .modal-dialog .modal-content .modal-header .close:hover {
  background-image: url("../vendor/svg/cross-hover.svg");
}

.modal .modal-dialog .modal-content .modal-body {
  border: none;
}

.modal .modal-dialog .modal-content .modal-body .modal-body-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
  color: #1E201E;
  margin: auto;
  margin-bottom: 1rem;
}

.modal .modal-dialog .modal-content .modal-body .modal-body-img {
  height: 1.5rem;
  width: 1.5rem;
}

.modal .modal-dialog .modal-content .modal-body .modal-body-info {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #1E201E;
}

.modal .modal-dialog .modal-content .modal-body .modal-body-info:hover {
  color: #F15A48;
  cursor: pointer;
}

footer {
  padding-top: 4rem;
}

footer .footer-block {
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

footer .footer-block .footer-block-heading {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 30px;
  color: #F15A48;
}

footer .footer-block .footer-block-info {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

footer .footer-copyright {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}

footer .footer-logo {
  width: auto;
  max-width: 100px;
}

footer .footer-social {
  color: #fff;
  padding: 1rem 1.6rem;
  font-size: 1.4rem;
  max-width: 310px;
  margin: auto;
}

footer .footer-social .footer-social-icon {
  cursor: pointer;
}

footer .footer-social .footer-social-icon:hover {
  color: #F15A48;
}

@media (min-width: 768px) {
  footer .footer-social {
    padding: 1rem 0;
  }
}

.text-primary {
  color: #F15A48 !important;
}

@media (min-width: 1500px) {
  .container--large {
    max-width: 1400px;
  }
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: transparent;
  border: 3px solid #F15A48 !important;
  color: #F15A48 !important;
  letter-spacing: 1px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff !important;
  background-color: #F15A48 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
