// Styling for the masthead
header.masthead {
  // padding-top: 10rem;
  // padding-bottom: calc(10rem - 56px);
  // background-image: url('../img/header.png');
  // background-position: center center;
  // @include background-cover;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
    @include montserrat-font;
    strong {
      color: $primary;
    }
  }
  p {
    font-weight: 300;
  }

  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    @include background-cover;
  }

  .carousel-caption {
    bottom: 30%;
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.25rem;
      letter-spacing: 0.5px;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 2.5rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3rem;
      letter-spacing: 1px;
    }
  }
}
