// Styling for the navbar
#mainNav {
  border-bottom: 1px solid fade-out($gray-900, .9);
  background-color: $black;
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    .navbar-logo-horizontal {
      max-height: 2.5rem;
    }
    .navbar-logo-vertical {
      display: none;
    }
  }
  .navbar-nav {
    > li.nav-item {
       > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        letter-spacing: 1px;
        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      .navbar-logo-horizontal {
        display: none;
      }
      .navbar-logo-vertical {
        display: inline-block;
        max-height: 6rem;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link {
      padding: 4rem 4rem;
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: $white;
      &:hover {
        color: $primary;
      }
    }
    .nav-item-mobile {
      display: none;
    }
    &.navbar-shrink {
      border-bottom: 1px solid fade-out($gray-900, .9);
      background-color: $black;
      .navbar-brand {
        .navbar-logo-horizontal {
          display: inline-block;
        }
        .navbar-logo-vertical {
          display: none;
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        padding: 1rem 4rem;
        color: $white;
        &:hover {
          color: $primary;
        }
      }
    }
    .nav-item-left {
      margin-right: 120px;
    }
    .nav-item-right {
      margin-left: 120px;
    }
  }
}
