// Styling for the special section
#special {
  .carousel-indicators {
    bottom: -3rem;
    &--round li {
      background-color: $black;
      &:hover {
        background-color: $primary;
      }
    }
    .active {
      background-color: $primary;
    }
  }
}
